<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="container">
		include ../includes/header
		block content
		include ../includes/footer
	</div>
</body>
</html>
